* {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    text-decoration: none;    
}

body {
    background: rgb(243, 236, 139);
}

/* header */
.header {
    background-color: #dbdbdb;
    width: 100%;
    min-height: 100px;
}
.header-container {
    display: flex;
    justify-content: space-around;
    padding: 20px auto;
    vertical-align: middle;
}

.col-header {
    margin: 20px;
    display: flex;
    align-items: center;
}

.logo, .working-hours {
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
}

.logo p, .working-hours p {
    margin: auto 10px;
}

a {
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

.contact-us{
    display: flex;
    flex-direction: column;
}

.phone-link {
    font-size: 16px;
    color: rgb(50, 14, 97);
}

.header-btn button {
    width: 120px;
    border-radius: 5px;
}

/* main */
main {
    height: calc(100vh - 140px);

}

.main-container {
    display: flex;
    justify-content: space-around;
    padding: 20px auto;
    vertical-align: middle;
    overflow: hidden;
}

.col-main-title {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.col-main-title h1 {
    display: inline-block;
    margin: 30px auto;
}

.main-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 135, 135);
    padding: 50px;
}

.form-control {
    margin: 20px;
    border-radius: 5px;
    padding: 5px;
}

.col-main-form{ 
    display: block;
    margin: 100px;
    width: 25%;
}

.main-features{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin: 20px;
    vertical-align: middle;
}

.col-features {
    display: inline-block;
}

.main-features-block img {
    position: relative;
}

.main-features-block p {
    position: absolute;
    margin-top: -4rem;
    margin-left: 1.8rem;
}


