* {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    text-decoration: none;    
}

body {
    background: rgb(243, 236, 139);
}

img {
   max-width: 100%;
   height: auto;
}

/* header */
.header {
    display: block;
    background-color: #dbdbdb;
    width: 100%;
    min-height: 100px;
}
.header-container {
    display: flex;
    justify-content: space-around;
    padding: 20px auto;
    vertical-align: middle;
}

.col-header {
    margin: 20px;
    display: flex;
    align-items: center;
}

.logo, .working-hours {
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
}

.logo p, .working-hours p {
    margin: auto 10px;
}

a {
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

.contact-us{
    display: flex;
    flex-direction: column;
}

.phone-link {
    font-size: 16px;
    color: rgb(50, 14, 97);
}

.header-btn button {
    width: 120px;
    border-radius: 5px;
}

/* main */
main {
    min-height: calc(100vh - 100px);
    display: block;

}

.main-container {
    display: flex;
    justify-content: space-around;
    padding: 20px auto;
    vertical-align: middle;
    overflow: hidden;
}

.col-main-title {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.col-main-title h1 {
    display: inline-block;
    margin: 30px auto;
}

.main-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 135, 135);
    padding: 50px;
}

.form-control {
    margin: 20px;
    border-radius: 5px;
    padding: 5px;
}

.col-main-form{ 
    display: block;
    margin: 100px;
    width: 25%;
}

.main-features{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin: 20px;
    vertical-align: middle;
}

.col-features {
    display: inline-block;
}

.main-features-block img {
    position: relative;
}

.main-features-block p {
    position: absolute;
    margin-top: -4rem;
    margin-left: 1.8rem;
}

/* section products */
.products {
    display: block;
    min-height: 100vh;
    background: #dbdbdb;
}

.section_header h2 {
   padding: 50px;
}

.slider {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.slider-preview {
    display: flex;
    flex-direction: column;
}

.slider-content{
   width: 80%;
   margin: 50px auto; 
}

.slider-content-block {
    display: none;
    justify-content: space-around;
}

.active {
    display: flex;
}

.content-block-specification li {
    position: relative;
    margin: 20px;
}

.content-block-specification button {
    width: 120px;
    border-radius: 5px;
    margin-top: 30px;
}

/* section guarantees */

.guarantees{
    display: block;
    min-height: 100vh;
}

.guarantees h2{
    margin: 50px auto;
    font-size: 36px;
    display: inline-block;
}

.guarantees-block{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}

.guarantees-block-view {
    display: block;
    background:#615e5e;
    color: #fff;
    min-width: 240px;
    margin: 50px;
}

.payment {
    display: flex;
    justify-content: space-around;
    padding: 50px auto;
}

.payment-item {
    margin: 50px;
}

/* sale */

.sale {
    display: flex;
    justify-content: space-around;
    min-height: calc(100vh - 60px);
    background: #dbdbdb;
}

.sale-container {
    width: 60%;
    margin: 100px;
}

.sale-container h4 {
    margin: 10px;
}

.sale-title {
    display: inline-block;
    margin: 50px auto;
}

.timer1 {
    background: #06ad0e;
    margin: 20px auto;
    width: 360px;
    height: 120px;
    border-radius: 10px;
}

.container1 {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.numbers1 {
    width: auto;
    padding: 10px;
}

/* footer */

footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 60px;
    position: relative;
}
